doctype html
html(lang='en')
  head
    title How Bronze Are You?
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='stylesheets/style.css', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='javascripts/outdated.d3.js')
    script(src='javascripts/main.js')
    script.
      var pinkData = [{"label": "You", "value": #{userData.match.pinksPlaced}}, {"label": "Pro", "value": #{proData.match.pinksPlaced}}];
      var wardData = [{"label": "You", "value": #{userData.match.wardsPlaced}}, {"label": "Pro", "value": #{proData.match.wardsPlaced}}];
      var kdaData = [{"label": "You", "value": #{userKDA}}, {"label": "Pro", "value": #{proKDA}}];
      var csData = [{"label": "You", "value": #{userData.match.creepScore}}, {"label": "Pro", "value": #{proData.match.creepScore}}];
      var runeData = [{"label": "You", "value": #{scores.runeMatches}}, {"label": "Pro", "value": #{6 - scores.runeMatches}}];
      var goldData = [{"label": "You", "value": #{userData.match.goldEarned}}, {"label": "Pro", "value": #{proData.match.goldEarned}}];
      $(function() {
        showHalfPiGraph(pinkData, "#pink-wards");
        showHalfPiGraph(wardData, "#green-wards");
        showHalfPiGraph(csData, "#creep-score");
        showHalfPiGraph(runeData, "#runes");
        if (#{proKDA} != Infinity) showHalfPiGraph(kdaData, "#kda");
        function getTextWidth(text, font) {
            var canvas = getTextWidth.canvas || (getTextWidth.canvas = document.createElement("canvas"));
            var context = canvas.getContext("2d");
            context.font = font;
            var metrics = context.measureText(text);
            return metrics.width;
        }
        var width = getTextWidth("#{userData.summonerInfo.name}", "bold 53px Chronic Sans");
        if (width < 225) width = 225;
        $("#bronze-thingy").css({ 'width': width + 35 + "px" });
      });
  body.comic-sans
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') How Bronze Are You?
        ul.nav.navbar-nav
          li
            a(href='/') Home
          li
            a(href='https://github.com/Draycia/HowBronzeAreYou') Github
        ul.nav.navbar-nav.navbar-right
          a(href='#')
            form.navbar-form.navbar-left(action='/', method='GET')
              .input-group
                input.search-query.form-control(type='text', placeholder='Search', name='summonerName')
                |     
                .input-group-btn
                  button.btn.btn-default(type='submit')
                    i.glyphicon.glyphicon-search
              select#inputRegion.form-control.fix-region-button(name='region')
                option(selected='', value='NA1') NA
                option(value='EUW1') EUW
    .container
      .text-center
        h1#summonerName= userData.summonerInfo.name
        img#bronze-thingy(src='https://i.imgur.com/Lc8Pe9R.png', style='width: 225px;')
        br
        img#profile-icon(src='http://ddragon.leagueoflegends.com/cdn/' + version + '/img/profileicon/' + userData.summonerInfo.iconId + '.png', width='150px')
        hr
        h1 You are...
        img(src="./images/bronze.png")
        h1 Bronze #{rank}!
        hr
        h3 Here's how you scored in each aspect: 
        hr
        svg#pink-wards
        if (userData.match.pinksPlaced < proData.match.pinksPlaced)
          p You might have an above par winrate against Shaco if you spent a little extra gold... Your pink ward count was #{userData.match.pinksPlaced} and the average Challenger player's is #{proData.match.pinksPlaced}.
        else
          p Are you even placing those correctly? Your pink ward count was #{userData.match.pinksPlaced} and the average Challenger player's is #{proData.match.pinksPlaced}.
          br
        p You scored Bronze #{scores.pinksPlaced}. #{messages.pinksPlaced}
        hr
        svg#green-wards
        if (userData.match.wardsPlaced < proData.match.wardsPlaced)
          p No wonder you struggle against Rengar... Your ward count was #{userData.match.wardsPlaced} and the average Challenger player's is #{proData.match.wardsPlaced}.
        else
          p Sitting in the fountain spamming sightstone isn't something to be proud of. Your ward count was #{userData.match.wardsPlaced} and the average Challenger player's is #{proData.match.wardsPlaced}.
          br
        p You scored Bronze #{scores.wardsPlaced}. #{messages.wardsPlaced}
        hr
        if (userKDA == Infinity)
          img(src="./images/poro-laugh.png", width='150px')
          p WHAT THE FUCK. Perfect KDA. Bronze 1. Have a happy poro.
        else
          svg#kda
          if (userKDA < proKDA)
            p Insert memey subpar KDA sentence here. Your KDA was #{userKDA} and the average Challenger player's is #{proKDA}.
          else
            p Insert memey above par KDA sentence here. Your KDA was #{userKDA} and the average Challenger player's is #{proKDA}.
            br
          p You scored Bronze #{scores.kda}. #{messages.kda}
        hr
        svg#creep-score
        if (userData.match.creepScore < proData.match.creepScore)
          p Insert memey subpar CS sentence here.  Your CS was #{userData.match.creepScore} and the average Challenger player's is #{proData.match.creepScore}.
        else
          p Insert memey above par CS sentence here. Your CS was #{userData.match.creepScore} and the average Challenger player's is #{proData.match.creepScore}.
          br
        p You scored Bronze #{scores.creepScore}. #{messages.creepScore}
        hr
        svg#runes
          div
            if (scores.runes < 5)
              p.display-flex Insert memey subpar Runes sentence here.
            else
              p.display-flex Insert memey above par Runes sentence here.
            p.display-flex Your keystone was
            img.keystone.display-flex(src="./images/runes/" + userData.match.perks.perk0Id + ".png")
            p.display-flex #{userKeystone} and the average Challenger player's is 
            img.keystone.display-flex(src="./images/runes/" + proData.match.perks.perk0Id + ".png")
            p.display-flex #{proKeystone}. You shared #{scores.runeMatches} runes.
            p You scored Bronze #{scores.runes}. #{messages.runes}
        hr
        svg#gold-earned
        if (scores.goldEarned < 5)
          p Insert memey subpar gold earned sentence here. Your gold earned was #{userData.match.goldEarned} and the average Challenger player's is #{proData.match.goldEarned}.
        else
    footer.footer
      .container
        .text-center
          | How Bronze Are You? isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.